@charset "utf-8";

/*mobile 600 px 
     tablet 768 px
     desktop 992 px
     smart_tv 1200 px

*/

:root {
    --maincolor: #fae60c;
    --secundcolor: #ea5a0d;
    --botaocolor: #faeee2;
    --xavier: #ffd700;
    --magneto: #d3d3d3;
    --textcolor: #050505;
    --textcolor2: #f0efef;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-image: linear-gradient(to top, var(--magneto), var(--xavier));
    background-repeat: no-repeat;
    background-position: top;
    /* background-attachment: scroll; */
    background-attachment: fixed;
}

header {
    background-color: var(--maincolor);
    margin-top: 3px;
    border-radius: 7px 7px 0px 0px;
    width: 90vw;
    margin: auto;
}

header>h1 {

    color: #ffd700;
    padding: 3px;
    margin-top: 17px;
    text-align: center;
}

menu {
    color: #faeee2;
    text-align: center;
    list-style-type: nome;
    width: 90vw;
    margin: auto;
}

menu>ul {
    list-style-type: none;
}

menu>ul>li>a {
    display: block;
    padding: 7px;
    text-decoration: none;
    text-align: center;
    background-color: #ffd700;
    border-radius: 0px 0px 0px 0px;
    color: whitesmoke;
    margin: auto;
}

menu>ul>li>a:hover {
    background-color: #d3d3d3;
    color: #ffd700;
    text-decoration: none;
}

main {
    /* (to top, var(--magneto), var(--xavier)); */
    width: 90vw;
    text-align: justify;
    padding: 7px 7px 10px 10px;
    margin: auto;
}

article {
    gap: 15px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: flex-start;
    padding: 9px;
}

p {
    text-indent: 17px;
    /* white-space: nowrap; */
}

/* img {} */

footer {
    background-color: #ffd700;
    width: 90vw;
    margin: auto;
}

footer>p {
    background-color: #ea5a0d;
    text-align: center;
    border-radius: 0x 0x 7px 7px;
    width: 90vw;
    padding: 7px;
    margin: auto;
}

/* media para tablet com  largura de tela menor que 768px para o maior de 992px
onde sera modificado as medidas do menu, menu lista, main > article onde o menu
deve estar bloqueado seguindo as margens e cor de fundo dos elementos e 
deixando assim o menu burger oculto, forçando assim o menu aparecendo inline-block
(na horizontal) e sua exibição de imagens */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image:url("../back-tablet.jpg");

    }

    #burger {
        display: none;
    }


    menu {
        display: block;
        width: 90vw;
        margin: auto;
        background-color: #21203f;
    }

    menu>ul>li {
        display: inline-block;
        background-color: #21203f;

    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
        width: 90vw;
        margin: auto;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

    img#mobile {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}


/* media para pc com  largura de tela menor que 992px para o maior de 1200px
onde sera modificado as medidas do menu, menu lista, main > article onde o menu
deve estar bloqueado seguindo as margens e cor de fundo dos elementos e 
deixando assim o menu burger oculto, forçando assim o menu aparecendo inline-block
(na horizontal) e sua exibição de imagens */

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-image:url("../back-pc.jpg");
    }

    #burger {
        display: none;
    }

    menu {
        display: block;
        background-color: #21203f;
    }

    menu>ul>li {
        display: inline-block;
        background-color: #21203f;
    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

    img#mobile {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

/* media para smart_tv com  largura de tela menor que 992px para o maior de 1200px
onde sera modificado as medidas do menu, menu lista, main > article onde o menu
deve estar bloqueado seguindo as margens e cor de fundo dos elementos e 
deixando assim o menu burger oculto, forçando assim o menu aparecendo inline-block
(na horizontal) e sua exibição de imagens */

@media screen and (min-width: 1201px) {
    body {
        background-image:url("../back-tv.jpg");
        background-repeat: repeat-x;
        background-attachment: fixed;
    }

    #burger {
        display: none;
    }

    menu {
        display: block;
        background-color: #21203f;
    }

    menu>ul>li {
        display: inline-block;
        background-color: #21203f;
    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

    img#mobile {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}